<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ganesh_sir_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ganesh_sir_app">
        <activity android:name=".menubars"></activity>
        <activity android:name=".listview" />
        <activity android:name=".alertdialog" />
        <activity android:name=".youtube" />
        <activity android:name=".webview" />
        <activity android:name=".seekbar" />
        <activity android:name=".ratingbar" />
        <activity android:name=".spinner" />
        <activity android:name=".toasty" />
        <activity android:name=".toast" />
        <activity android:name=".Radiobutton" />
        <activity android:name=".Checkbox" />
        <activity android:name=".Togglebutton" />
        <activity android:name=".Datepicker" />
        <activity android:name=".Timepicker" />
        <activity android:name=".Button" />
        <activity android:name=".Imagebutton" />
        <activity android:name=".Edittext2" />
        <activity android:name=".Edittext" />
        <activity android:name=".Textview" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>